* {
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #fffaf0;
    margin: auto;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 2.5%;
}

img {
    display: block;
    border-radius: 50%;
    border: solid 8px;
    border-color: #c7b169;
    margin: auto;
    width: 50%;
}